doctype html
html(lang='uk')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='/css/styles.css')
  body
    .container
      header
        h1= title
        nav
          a(href='/') Головна
          a(href='/users') Користувачі
          a(href='/articles') Статті
      
      main
        if error
          .error-message= error
        
        if users && users.length > 0
          .users-grid
            each user in users
              .user-card
                .user-header
                  h2= user.name
                  span.user-id ID: #{user.id}
                .user-details
                  p
                    strong Email: 
                    | #{user.email}
                  p
                    strong Вік: 
                    | #{user.age} років
                  p
                    strong Місто: 
                    | #{user.city}
                .user-actions
                  a.btn.btn-primary(href=`/users/${user.id}`) Детальніше
        else
          p.no-data Користувачів не знайдено
      
      footer
        p &copy; 2026 Express MVC Server. Шаблонізатор: PUG
